.lsp-session-v*
.mc-lists.el
.python-environments
bookmarks
custom.el
fiat-config
git
history
logview-cache.extmap
nov-places
packages
quelpa
recentf
src
transient
undohist
url
init/private.el
srecode-map.el
semanticdb
.persistent-scratch
persistent-scratch
org-wunderlist
