.lsp-session-v*
/.mc-lists.el
.python-environments
/.cache
/.persistent-scratch
/bookmarks
/custom.el
/fiat-config
/git
/history
/logview-cache.extmap
/nov-places
/org-wunderlist
/packages
/private.el
/recentf
/request
/semanticdb
/src
/srecode-map.el
/transient
/undohist
/url
/var
/.last-package-update-day
/package-quickstart.el
/image-dired/
/thumbs/
/tldr/
/calc.el
/projects
/eln-cache/
